pandas==2.2.3 
matplotlib==3.9.2 
seaborn==0.13.2 
kaggle==1.6.17 
langchain==0.3.2 
langchain-community==0.3.1 
langchain-chroma==0.1.4 
langchain-text-splitters==0.3.0 
sentence-transformers==3.1.1 
gradio==5.0.2 
huggingface-hub==0.25.2 
chromadb==0.5.11